## Importando as bibliotecas básicas

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importando o dataset

In [9]:
dados = pd.read_excel(r'datasets/Data_Train.xlsx')

Este dataset tem diversos dados de voos com seu preço associado &nbsp;

O objetivo do problema é conseguir prever o preço de um voo através dos dados disponíveis

## Olhando para os dados

In [10]:
dados

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [11]:
dados.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [12]:
dados.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

Temos muitas colunas categóricas neste dataset, então vamos tentar quebrar algumas, de forma a construir algumas variáveis numéricas

## Tratamento dos dados

### Quebrando a variável de data

In [13]:
dados['day'] = pd.Series()
dados['month'] = pd.Series()
dados['year'] = pd.Series()

from datetime import datetime 

for i in dados.index:
    
    dados['day'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').day
    dados['month'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').month
    dados['year'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').year

C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['day'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['month'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['year'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['day'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').day
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['month'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').month
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\1493554391.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['year'][i] = datetime.strptime(dados['Date_of_Journey'][i], '%d/%m/%Y').year

In [14]:
dados

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24.0,3.0,2019.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1.0,5.0,2019.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9.0,6.0,2019.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12.0,5.0,2019.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1.0,3.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9.0,4.0,2019.0
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27.0,4.0,2019.0
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27.0,4.0,2019.0
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1.0,3.0,2019.0
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9.0,5.0,2019.0

In [15]:
dados = dados.drop('Date_of_Journey', axis=1)

## Quebrando a variável de Hora (Partida e Chegada)

In [22]:
dados['departure_hour'] = pd.Series()
dados['departure_min'] = pd.Series()
dados['arrival_hour'] = pd.Series()
dados['arrival_min'] = pd.Series()

for i in dados.index:
    
    dados['departure_hour'][i] = int(dados['Dep_Time'][i][0:2])
    dados['departure_min'][i] = int(dados['Dep_Time'][i][3:6])
    dados['arrival_hour'][i] = int(dados['Arrival_Time'][i][0:2])
    dados['arrival_min'][i] = int(dados['Arrival_Time'][i][3:6])

C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['departure_hour'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['departure_min'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['arrival_hour'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['arrival_min'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['departure_hour'][i] = int(dados['Dep_Time'][i][0:2])
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['departure_min'][i] = int(dados['Dep_Time'][i][3:6])
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['arrival_hour'][i] = int(dados['Arrival_Time'][i][0:2])
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2203698733.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['arrival_min'][i] = int(dados['Arrival_Time'][i][3:6])

In [23]:
dados

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,departure_hour,departure_min,arrival_hour,arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24.0,3.0,2019.0,22.0,20.0,1.0,10.0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1.0,5.0,2019.0,5.0,50.0,13.0,15.0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9.0,6.0,2019.0,9.0,25.0,4.0,25.0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12.0,5.0,2019.0,18.0,5.0,23.0,30.0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1.0,3.0,2019.0,16.0,50.0,21.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9.0,4.0,2019.0,19.0,55.0,22.0,25.0
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27.0,4.0,2019.0,20.0,45.0,23.0,20.0
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27.0,4.0,2019.0,8.0,20.0,11.0,20.0
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1.0,3.0,2019.0,11.0,30.0,14.0,10.0
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9.0,5.0,2019.0,10.0,55.0,19.0,15.0

In [26]:
dados = dados.drop(['Dep_Time', 'Arrival_Time'], axis=1)

In [27]:
dados

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,departure_hour,departure_min,arrival_hour,arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24.0,3.0,2019.0,22.0,20.0,1.0,10.0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1.0,5.0,2019.0,5.0,50.0,13.0,15.0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9.0,6.0,2019.0,9.0,25.0,4.0,25.0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12.0,5.0,2019.0,18.0,5.0,23.0,30.0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1.0,3.0,2019.0,16.0,50.0,21.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107,9.0,4.0,2019.0,19.0,55.0,22.0,25.0
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145,27.0,4.0,2019.0,20.0,45.0,23.0,20.0
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,non-stop,No info,7229,27.0,4.0,2019.0,8.0,20.0,11.0,20.0
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648,1.0,3.0,2019.0,11.0,30.0,14.0,10.0
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753,9.0,5.0,2019.0,10.0,55.0,19.0,15.0

Agora que temos algumas variáveis novas na nossa base de dados, vamos tratar as variáveis categóricas

## Tratando a variável de quantidade de paradas

In [28]:
dados['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [40]:
dados['Total_Stops'] = dados['Total_Stops'].fillna('non-stop')
dados['stops'] = pd.Series()

for i in dados.index:
    if dados['Total_Stops'][i] == 'non-stop':
        dados.stops[i] = 0
    else:
        dados.stops[i] = dados['Total_Stops'][i][0:2]

C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2685294021.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  dados['stops'] = pd.Series()
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2685294021.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.stops[i] = 0
C:\Users\andre\AppData\Local\Temp\ipykernel_2872\2685294021.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.stops[i] = dados['Total_Stops'][i][0:2]

In [41]:
dados

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,departure_hour,departure_min,arrival_hour,arrival_min,stops
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24.0,3.0,2019.0,22.0,20.0,1.0,10.0,0.0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1.0,5.0,2019.0,5.0,50.0,13.0,15.0,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9.0,6.0,2019.0,9.0,25.0,4.0,25.0,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12.0,5.0,2019.0,18.0,5.0,23.0,30.0,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1.0,3.0,2019.0,16.0,50.0,21.0,35.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,non-stop,No info,4107,9.0,4.0,2019.0,19.0,55.0,22.0,25.0,0
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,4145,27.0,4.0,2019.0,20.0,45.0,23.0,20.0,0
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,non-stop,No info,7229,27.0,4.0,2019.0,8.0,20.0,11.0,20.0,0
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,non-stop,No info,12648,1.0,3.0,2019.0,11.0,30.0,14.0,10.0,0
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2 stops,No info,11753,9.0,5.0,2019.0,10.0,55.0,19.0,15.0,2

In [ ]:
dados = dados.drop('Total_Stops', axis=1)